<!DOCTYPE html>
<html lang="en" ng-app="cardViewer">
  <head>
    <title>Pokemon App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/main.css" rel="stylesheet">
  </head>
  <body ng-controller="listCtrl">
    <h1 class="name">{{ name }}</h1>
    Name: <input type="text" ng-model="filterObj.name"/>
    Type: <input type="text" ng-model="filterObj.type"/>
    Order: <input type="text" ng-model="orderValue"/> {{ filterObj }}
    <!-- <div class="card" ng-repeat="card in cards | filter : filterValue"> -->
    
    <button ng-click="showNewForm=!showNewForm"> Toggle Form </button>
    <div class="addNew" ng-show="showNewForm">
      <div>
        Name: <input type="text" ng-model="newPokemon.name"/> <br/>
        Type: <input type="text" ng-model="newPokemon.type"/> <br/>
        <!-- URL: <input type="text" ng-model="newPokemon.url"/> <br/> -->
        Image: <select ng-model="newPokemon.url" ng-options="img.url as img.name for img in images"></select>
        HP: <input type="text" ng-model="newPokemon.stats.hp"/> <br/>
        ATK: <input type="text" ng-model="newPokemon.stats.atk"/> <br/>
        DEF: <input type="text" ng-model="newPokemon.stats.def"/> <br/>
        <button ng-click="addNewPokemon(newPokemon)">Add new Pokemon</button>
      </div>
      <div class="card">
        <div class="name">{{ newPokemon.name | uppercase }}</div>
        <div class="picture" ng-style="{backgroundImage: 'url('+newPokemon.url+')' }"></div> 
        <!-- <img class="picture" ng-src="{{ newPokemon.url }}" alt="{{ newPokemon.name }}"> -->
        <div class="stats">
          <div class="stat">{{ newPokemon.stats.hp }}</div>
          <div class="stat">{{ newPokemon.stats.atk }}</div>
          <div class="stat">{{ newPokemon.stats.def }}</div>        
        </div>
      </div>

    </div>
    
    <div class="cardList">
      <div class="card" ng-repeat="card in cards | filter : filterObj | orderBy : orderValue"
      ng-class="{selected:selected}" ng-click="selected=!selected">
    
        <div class="name">{{ card.name | uppercase }}</div>
        <div class="picture" ng-style="{backgroundImage: 'url('+card.url+')' }"></div> 
        <!-- <img class="picture" ng-src="{{ card.url }}" alt="{{ card.name }}"> -->
        <div class="stats">
          <div class="stat">{{ card.stats.hp }}</div>
          <div class="stat">{{ card.stats.atk }}</div>
          <div class="stat">{{ card.stats.def }}</div>        
        </div>
    </div>
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" charset="utf-8"></script>
    <script src="./app/app.js" charset="utf-8"></script>
  </body>
</html>